/* Check or Uncheck our Li, changing his background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Changing all color when we set in Dark Mode or Light Mode */
body.darkMode {
  background-color: #111;
  color: #eee;
}
body.darkMode button {
  background-color: #eee;
  color: #111;
}

body.darkMode #themeDarkLight {
  background-color: #eee;
  color: #111;
}

body.lightMode {
  background-color: #eee;
  color: #111;
}
body.lightMode button {
  background-color: #111;
  color: #eee;
}

body.lightMode #themeDarkLight {
  background-color: #111;
  color: #eee;
}
